@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
nav {
  height: 50px;
  width: 100%;
  background: #374249;
  font-size: 0; }
  nav:before, nav:after {
    content: "";
    display: table; }
  nav:after {
    clear: both; }
  nav a {
    color: #fff; }
  nav .logo {
    font-size: 1rem;
    background: #f75311;
    width: 15%;
    height: 100%;
    position: relative;
    float: left; }
    nav .logo img {
      height: 100%;
      width: auto; }
    nav .logo a {
      font-size: 1rem;
      position: absolute;
      text-decoration: underline;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      left: 90px; }
  nav .navbar {
    font-size: 1rem;
    height: 100%;
    width: 85%;
    float: left; }
    nav .navbar ul {
      float: left; }
    nav .navbar li {
      display: inline-block; }
    nav .navbar li + li {
      padding-left: 40px; }
    nav .navbar a:hover {
      text-decoration: underline; }

.main {
  width: 100%;
  height: 100%;
  position: relative; }
  .main img {
    width: 100%;
    height: auto;
    position: relative; }
  .main .text-wrapper {
    text-align: center;
    color: #fff;
    position: absolute;
    width: 70%;
    background: rgba(56, 56, 56, 0.445);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 65%; }
    .main .text-wrapper h1 {
      font-size: 3vw;
      margin: 0;
      font-weight: 300; }
    .main .text-wrapper h4 {
      font-size: 1rem;
      font-weight: 300;
      margin: 0; }
  .main .buttons {
    height: 90px; }
    .main .buttons a {
      float: right;
      padding: 15px;
      margin: 18px;
      border: 1px solid #797979;
      border-radius: 50px;
      color: #797979;
      transition: ease-in-out 300ms; }
      .main .buttons a:hover {
        background: #cfd1d3;
        color: #fff; }
      .main .buttons a:first-child {
        margin-right: 200px; }

.galery {
  width: 100%;
  height: 80vh; }
  .galery .container {
    width: 70%;
    height: auto;
    margin: 0 auto; }
    .galery .container > div {
      width: 250px;
      height: 300px;
      float: left;
      overflow: hidden;
      margin: 20px 10px;
      position: relative; }
      .galery .container > div:hover .info {
        display: block; }
    .galery .container img {
      width: 100%;
      height: auto; }
  .galery .info {
    position: absolute;
    height: 100px;
    width: 100%;
    background: rgba(255, 255, 255, 0.527);
    padding: 10px;
    display: none; }

.pricing {
  text-align: center;
  height: 500px; }
  .pricing h1 {
    color: #374249;
    padding: 10px 0;
    font-size: 2rem;
    margin-bottom: 0; }
  .pricing h5 {
    font-weight: 300; }
  .pricing table {
    text-align: center;
    border-collapse: collapse;
    width: 60%;
    color: #fff;
    margin: 0 auto; }
    .pricing table td {
      border: 1px solid #797979;
      padding: 10px 30px; }
    .pricing table .orange {
      background-color: #f75311; }
    .pricing table .gray {
      background-color: #374249; }
    .pricing table .bright {
      color: #374249; }
    .pricing table .none {
      border: none; }

.contact {
  padding-bottom: 100px;
  text-align: center; }
  .contact:before, .contact:after {
    content: "";
    display: table; }
  .contact:after {
    clear: both; }
  .contact h1 {
    color: #374249;
    padding: 10px 0;
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 30px; }
  .contact .wrapper {
    width: 65%;
    height: 100%;
    margin: 0 auto; }
    .contact .wrapper img {
      width: 30%;
      float: left; }
    .contact .wrapper form {
      background: #f75311;
      width: 60%;
      float: right;
      padding: 30px; }
      .contact .wrapper form:before, .contact .wrapper form:after {
        content: "";
        display: table; }
      .contact .wrapper form:after {
        clear: both; }
      .contact .wrapper form select, .contact .wrapper form input {
        float: left;
        display: block;
        margin: 5px 0;
        height: 30px;
        padding: 0; }
      .contact .wrapper form select {
        width: 15%; }
      .contact .wrapper form input[type="text"] {
        width: 75%;
        float: right; }
      .contact .wrapper form input[type="email"] {
        width: 100%;
        margin-top: 20px; }
      .contact .wrapper form textarea {
        width: 100%;
        float: left;
        height: 100px;
        margin-top: 20px; }

footer {
  height: 50px;
  background: #374249;
  text-align: center;
  color: #fff; }
  footer span {
    display: inline-block;
    margin-top: 15px; }
  footer span + span {
    color: #f75311; }

* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Roboto";
  color: #797979;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box; }
  body a {
    text-decoration: none; }
  body li {
    list-style: none; }
  body section:nth-child(odd) {
    background: rgba(169, 236, 253, 0.24); }

/*# sourceMappingURL=style.css.map */
