@import "modules/vars";
@import "modules/mixins";
@import "partials/header";
@import "partials/main-section";
@import "partials/galery";
@import "partials/pricing";
@import "partials/contact";
@import "partials/footer";

* {
    @include borderbox();
}

body {
    font-family: $main-font;
    color: $font-color;
    overflow-x: hidden;
    @include reset() {
        li {
            list-style: none;
        }
    };

    .galery, .contact {
        background:rgba(169, 236, 253, 0.24);
    }
}


