@import "../modules/vars";
@import "../modules/mixins";

.contact {
    padding-bottom: 100px;
    text-align: center;
    
    h1 {
        @include headings();
        padding-bottom: 30px;
    }
    .wrapper {
        width: 85%;
        height: 100%;
        @include margin-center();
        @include clear-fix();
        iframe {
            width: 35%;
            height: 350px;
            float: left;
        }
    form {
        background: $orange;
        width: 60%;
        float: right;
        padding: 30px;
        @include clear-fix();
        select, input {
            float: left;
            display: block;
            margin: 5px 0;
            height: 30px;
            padding: 0;
        }
        select {
            width: 15%;
        }
        input[type="text"] {
            width: 75%;
            float: right;
        }
        input[type="email"] {
            width: 100%;
            margin-top: 20px;
        }
        textarea {
            width: 100%;
            float: left;
            height: 100px;
            margin-top: 20px;
            
        }
    }
    }
}
@include tablet {
    .contact {
        .wrapper {
            .img {
                width: 100%;
            }
            iframe {
                float: none;
                width: 65%;
            }
            form {
                margin-top: 20px;
                width: 100%;
                float: none;
            }
        }

    }
}

@include mobile {
    .contact {
        .wrapper {
            .img {
                width: 100%;
            }
            iframe {
                float: none;
                width: 65%;
            }

            form {
                margin-top: 20px;
                width: 100%;
                margin-top: 20px;
                width: 100%;
                float: none;
                input[type="text"] {
                    width: 100%;
                    float: none;
                }
                select {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }

    }
}