@import "../modules/vars";
@import "../modules/mixins";




footer {
    height: 50px;
    background: $bluehf;
    text-align: center;
    color: #fff;

    span {
        display: inline-block;
        margin-top: 15px; 
    }
    span + span {
        color: $orange;
    }
}