@import "../modules/vars";
@import "../modules/mixins";

nav {
    height: 50px;
    width: 100%;
    background: $bluehf;
    font-size: 0;
    @include clear-fix();
    
    a {
        color: #fff;
    }
    // LOGO
    .logo {
        font-size: 1rem;
        background: $orange;
        width: 15%;
        height: 100%;
        position: relative;
        float: left;
        
        img {
            height: 100%;
            width: auto;
        }
        a {
            font-size: 1rem;
            position: absolute;
            text-decoration: underline;
            @include absolute-center() {
                left: 90px;
            };
          
        }
    }
    // NAVBAR
    .navbar {
        font-size: 1rem;
        height: 100%;
        width: 85%;
        float: left;
        @include clear-fix();
        ul {
            float: left;
        }
        li {
            display: inline-block;
        }
        li + li {
            padding-left: 40px;
        }
        a:hover {
            text-decoration: underline;
        }  
    }

}

@include tablet {
    nav {
        .logo {
            width: 25%;
        }
        .navbar {
            width: 75%;
        }
    }

}
@include mobile {
    nav {
        .logo {
            width: 100%;
        }
        .navbar {
            height: 330px;
            width: 100%;
            background: $bluehf;
            text-align: center;
            float: none;
            padding-top: 30px; 
            ul {
                padding: 0;
                float: none;
            }
            li {
                display: block;
                padding: 25px 0;
            }
            li + li {
                padding-left: 0;
            }
        }

    }

}